<header>
  <nav>
    <a href="/">Home</a> |
    <a href="/publications">Publications</a> |
    <a href="/cv.pdf">Resume</a> |
    <a href="https://github.com/sidprasad" target="_blank" title="GitHub Profile">
      <i class="fab fa-github" aria-hidden="true"></i> <span class="sr-only">GitHub</span>
    </a> 
    <!-- <a href="https://scholar.google.com/citations?user=sjPrwIYAAAAJ&hl=en" target="_blank" title="Google Scholar Profile">
      <i class="fas fa-graduation-cap" aria-hidden="true"></i> <span class="sr-only">Google Scholar</span>
    </a> -->
  </nav>
</header>